@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  padding: 60px 0px 0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  font-size: 16px;
}
@media (max-width: 700px){
  html {
    font-size: 12px;
  }
}

h2 {
  font-size: 3rem;
  text-align: center;
  border-bottom: 2px solid #777;
  padding: .5rem;
  padding-top: 70px;
}

h3 {
  font-size: 1.8rem;
  margin: 1rem 0;
}

p {
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  max-width: 900px;
  margin: auto;
}

a {
  color: #047DBF;
  text-decoration: none;
  position: relative;

  &::after {
    content: '';
    width: 0%;
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 2px;
    background: #047DBF;
    transition: .25s;
  }

  &:hover {
    &::after{
      width: 100%;
      left: 0;
    }
  }
}

hr {
  border: 0;
  height: 1px;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 54%,rgba(0,0,0,0) 100%);

}

.hide {
  display: none;
}

#main-content {
  min-height: 300vh;
  transition: .5s;
}

#main-heading {
  padding: 10px 0px;
  text-align: center;
  font-size: 4rem;

  &__changer span{
    animation: grow 3s forwards;
    position: relative;
    display: inline-block;
    transform: scale(0);
  }
}

.resource-items {
  max-width: 980px;
  padding: 1.5rem;
  margin: 10px auto;
}

@keyframes grow {
  0% {transform: scale(0);}
  100% {transform: scale(1);}
}

@media (max-width: 600px){
  #main-heading {
    font-size: 3rem;
  }
}
