#top-nav {
  padding: 5px 10px 10px;
  background: #5D6771;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  justify-content: space-between;
  z-index: 100;
}

.nav-brand {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  position: relative;
  top: 3px;
}

@media (max-width: 450px) {
  .nav-brand {
    font-size: 27px;
  }
}


.top-nav-right {

  display: flex;
  align-items: center;
}

#nav-toggle {
  box-sizing: content-box;
  margin-left: 30px;
  cursor: pointer;
  width: 60px;
  height: 35px;
  position: relative;
  padding: 5px;
}

.bun {
  width: 60px;
  height: 8px;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  left: 0;
  transition: .3s;
}

.hamburger {
  span:first-child{
    @extend .bun;
    &::before, &::after {
      content: '';
      width: 0px;
      height: 0px;
      transtion: .25s;
      background: white;
    }
  }
  span:nth-child(2){
    @extend .bun;
    top: 21px;
  }
  span:nth-child(3){
    @extend .bun;
    bottom: 0;
  }
}

.hamburger.open {
  span:first-child{
    width: 30px;
    left: 30px;
    top: 21px;

    &::before, &::after {
      content: '';
      @extend .bun;
      width: 40px;
      left: -110%;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
  span:nth-child(2){
    transform: scalex(.5) translatex(30px);
  }
  span:nth-child(3){
    height: 25px;
    width: 25px;
    border-top: 8px solid #fff;
    border-right: 8px solid #fff;
    background: rgba(255,255,255,0);
    transform: rotate(45deg);
    top: 12px;
    left: auto;
    right: 10px;
    border-radius: 0px;
  }
}

#main-nav-items {
  position: fixed;
  width: 50%;
  height: calc(100vh - 60px);
  min-height: 300px;
  top: 60px;
  background: #5D6771;
  right: 0vw;
  transform: translatex(100vw);
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 25px;
  z-index: 5;
  transition: transform .5s;
  li {
    padding: 10px;
    transform: rotate(-90deg);
    transition: transform .5s;
  }
  a {
    color: #E6E6E6;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    transition: .25s;

    &::before {
      content: '';
      left: 0;
      top: 0;
      position: absolute;
      width: 2px;
      height: 100%;
      background: #fff;
      transition: .25s;
    }
    &::after {
      content: '';
      left: 0;
      bottom: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background: #fff;
      transition: .25s;
    }

    &:hover {
      &::before {
        width: 4px;
      }
      &::after {
        height: 4px;
      }
    }
  }
}

@media (max-width: 450px) {
  #main-nav-items {
    font-size: 20px;
    li{
      padding: 5px;
    }
  }
}

#main-nav-items.nav-items-shown {
  transform: translatex(0vw);
  li {
    transform: rotate(0deg);
  }
}

#main-content {
  position: relative;
  transition: .5s;
  left: 0;
}

#main-content.main-content-moved {
  transform: translatex(-50vw);
}

@media (max-width: 500px){
  #main-nav-items {
    width: 75%;
  }
  #main-content.main-content-moved {
    transform: translatex(-75vw);
  }
}
