.landing {
  position: relative;
  height: calc(100vh - 60px);
  overflow: hidden;
  box-shadow: 0px 6px 34px 0px rgba(0,0,0,0.47);

  img {
    position: absolute;
    transition: .1s;
  }

  &__html {
    width: 25%;
    left: 5%;
    top: 5%;
  }

  &__css {
    width: 30%;
    left: 65%;
    top: 10%;
  }

  &__js {
    width: 40%;
    top: 30%;
    left: 28%;
  }

  &__php {
    width: 25%;
    top: 60%;
    left: 2%;
  }

  &__ruby {
    width: 30%;
    left: 70%;
    top: 70%;
  }
}

#code-canvas {
  width: 100%;
  height: calc(100vh - 70px);
}
